.button {
  color: #808080;
  text-align: start;
  cursor: pointer;
}

.panelSection {
  position: absolute;
  bottom: -13px;
  transform: translateY(100%);
}

.panelContainer {
  display: flex;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 1px 23px 0px rgba(110, 110, 110, 0.49);
  -webkit-box-shadow: 1px 1px 23px 0px rgba(110, 110, 110, 0.49);
  -moz-box-shadow: 1px 1px 23px 0px rgba(110, 110, 110, 0.49);
}
