.container {
}

.searchbarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* background-color: #ffca0b; */
  background-image: url('/listing/lobby_tint.png');
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
}

.mainSection {
  margin-inline: auto;
  max-width: 1280px;
  padding: 30px 20px;
  display: flex;
  gap: 50px;
  flex-wrap: nowrap;
}

.filterSection {
}
