.container {
  background-color: white;
  box-sizing: border-box;
  padding: 15px 20px;
}

.box {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin-inline: auto;
}

.logo {
  align-self: center;
  width: 170px;
  height: 50px;
}

.box a {
  text-decoration: none;
}

.brandSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 25px;
}

.currencySection {
  font-weight: 700;
}

.dropdownButton {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  padding-block: 5px;
  padding-left: 15px;
  padding-right: 40px;
  border-radius: 15px;
  /* background-color: rgb(224, 224, 224); */
}

.dropdownButton::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #6e6e6e;
  pointer-events: none;
}

.dropdownButton:hover {
  background-color: #ffeacc;
}

.profileIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 158, 67);
  border: 1px solid rgb(194, 94, 0);
  color: white;
  padding: 10px;
  border-radius: 50px;
  font-size: 1.2rem;
}

.accountButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}

.registerButton {
  background-color: #ff7474;
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.registerButton:hover {
  background-color: #ff433c;
}

.loginButton {
  transition: color 0.2s ease;
}

.loginButton:hover {
  color: #d9534f;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  background-color: white;
  min-width: 140px;
  border: 1px solid rgba(255, 161, 1, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  z-index: 1000;
  padding: 0.5rem;
}

.logoutOption {
  background: none;
  border: none;
  color: #d9534f;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  transition: background-color 0.2s ease;
}

.navigationSection {
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navLink {
  /* border: 1px solid red; */
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 1rem;
  padding: 10px 16px;
  border-radius: 8px;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: #ff7474;
}
