.container {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    height: 400px;
    width: 350px;;
    background-color: black;
    font-size: 20px;
    --rightmargin: 33%;
}

.container:hover {
    font-size: 30px;
    --rightmargin: 0%;
}

.bgimage {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 80%;
}

.bgimage:hover {
    transition: 0.5s;
    opacity: 50%;
}

.bottomtext {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #ffca0b;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;
    margin: 5%;
    margin-right: var(--rightmargin);
    transition: 0.2s;
}
